/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 /* puts the follow button in the top right of div */

body {
 background: #f2f4ff;  /* fallback for old browsers */
}

#stock-result-name {
  margin: 0 0 0 18px;
  letter-spacing: -2.2px;
}

#stock-result-price {
  margin: 0 0 0 18px;
  letter-spacing: -1px;
}

.right-justify {
  float: right;
}

/* Container for application */
.container-fluid {
  max-width: 87%;
}

/* Container for navbar */
.nav-container {
  max-width: 99%;
}

.navbar {
  background: -webkit-linear-gradient(to top, #f2f4ff 60%, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f2f4ff 60%, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 20px;
}

.navbar-default {
  border: none;
}

/* Navbar title */
.navbar-brand {
  font-size: 2em;
  margin-right: 40px;
  color: #4764ff !important;
}

.navbar-brand:hover, .navbar-brand:active {
  color: #1438ff !important;
}

/* Navbar links */
.top-link {
  color: #4764ff !important;
}

.top-link:hover, .top-link:active {
  color: #1438ff !important;
}

/* Tabs on home page */
.nav-link {
  font-size: 1.25em;
  color: #1438ff;
}

.nav-link:hover, .nav-link:active {
  color: #212529;
}

li.nav-item > a {
  padding: 15px 20px 15px 90px;
}

.card {
  color: #212529 !important;
}

.card:hover, .card:active {
  text-decoration: none;
}

.card-header {
  font-weight: bold;
  padding: 0;
  margin-left: 70px;
  margin-right: 100px;
  margin-bottom: 15px;
}

.card-body {
  padding: 0 0 0 2px;
  margin-left: 70px;
  margin-right: 100px;
}

.center-div {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}

.center-text {
  text-align: center;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

.results-block {
  display: inline-block;
  width: 100%;
  padding-right: 45px;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.light-text {
  color: #737373;
}
